body {
    font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
}

/* for fixed navbar */
header {
    margin-bottom: 72px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}

/* navbar section */

.navbar {
    width: 100%;
    height: 72px;
}

.navbar-fixed {
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.25);
    background-color: #F9F9F9;
}

.navbar ul {
    height: 104px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    font-size: 1.3em;
    display: inline-block;
    width: 25%;
    height: 72px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 72px;
    text-transform: uppercase;
    border-bottom: 0px solid rgba(233,93,79,0.5);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

@media screen and (max-width: 960px) {
    .navbar li {
        font-size: 1em;
    }
}

.navbar li:hover {
    color: #cf4436;
    background-color: rgba(233,93,79,0.1);
    border-bottom: 8px solid rgba(235,111,98,0.75);
}

.navbar a {
    display: block;
    color: #5F5F5F;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.navbar a:hover {
    color: #cf4436;
}

/* header section */

.header {
    position: relative;
    width: 100%;
    min-height: 280px;
    /*background-color: #E74C3C;*/
    background-color: #CE534D;
    border-bottom: 12px solid #292929;
    z-index: 5;
    text-align: center;
    color: #F9F9F9;
}

@media screen and (max-width: 800px) {
    .header {
        max-height: 600px;
    }
}

@media screen and (max-width: 640px) {
    .header {
        max-height: 500px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        max-height: 400px;
    }
}

.header .wrapper {
    position: relative;
    margin: auto;
    top: 35%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header::after {
    content: ' ';
    top: 100%;
    left: 50%;
    margin-left: -2em;
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-width: 2em;
    border-top-color: #CE534D;
}

.header::before {
    content: ' ';
    top: 100%;
    left: 50%;
    margin-left: -3em;
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-width: 3em;
    border-top-color: #292929;
}

.header .title {
    width: auto;
    max-width: 100%;
    height: 5.4em;
    margin: auto;
    position: relative;
}

@media screen and (max-width: 1280px) {
    .header .title {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: auto;
        position: relative;
    }
}

.header span {
    display: block;
    position: relative;
    font-size: 3.5em;
    margin: auto;
    margin-top: -0.7em;
}

.header h2 {
    display: block;
    position: relative;
    font-size: 1.3em;
    margin: auto;
    font-weight: normal;
    letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
    .header h2 {
        font-size: 0.96em;
    }
}

@media screen and (max-width: 640px) {
    .header h2 {
        font-size: 0.82em;
    }
}

/* project section */

.work {
    position: relative;
    width: 100%;
    height: 640px;
    background-color: #2F2F2F;
    border-bottom: 12px solid #292929;
}

/* profile section */

.about {
    position: relative;
    width: 100%;
    height: 640px;
    background-color: #F9F9F9;
    border-bottom: 12px solid #292929;
}

/* contact section */

.contact {
    position: relative;
    width: 100%;
    height: 640px;
    background-color: #2F2F2F;
    border-bottom: 12px solid #292929;
}

/* footer section */

footer {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #F9F9F9;
}
