<header>
    <nav class="navbar navbar-fixed">
        <div id="navbar" class="container">
            <ul>
            <li><a ng-click="gotoSection('#work')">Projects</a></li><li><a ng-click="gotoSection('#about')">Profile</a></li><li><a ng-click="gotoSection('#contact')">Contact</a></li><li><a href="/blog">Blog</a></li>
            </ul>
        </div>
    </nav>
</header>

<section class="header">
    <div class="wrapper">
    <img src="/img/doktor.svg" class="title"/>
    <span>. . .</span>
    <h2>Game Programmer and Web Developer.</h2>
    </div>
</section>

<section class="work" id="work">
    <div class="container">
        <img src="/img/coding.svg" class="title"/>
        <h1>Projects</h1>
        <h2>a selection of recent work</h2>

        <div class="pure-g">
            <div class="pure-u-1 pure-u-lg-1-2">
                <div class="project-wrapper">
                    <div class="wrapper">
                        <div class="project-img">
                            <img src="/img/shippu.png"/>
                        </div>

                        <div class="overlay">
                        </div>

                        <div class="project-button">
                        <a href="http://rpgmaker.net/games/6354/">Shippu la Senpu</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pure-u-1 pure-u-lg-1-2">
                <div class="project-wrapper">
                    <div class="wrapper">
                        <div class="project-img">
                            <img src="/img/ago.png"/>
                        </div>

                        <div class="overlay">
                        </div>

                        <div class="project-button">
                        <a href="http://rpgmaker.net/games/5930/">Alex gets Oppai</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pure-u-1 pure-u-lg-1-2">
                <div class="project-wrapper">
                    <div class="wrapper">
                        <div class="project-img">
                            <img src="/img/sayako.png"/>
                        </div>

                        <div class="overlay">
                        </div>

                        <div class="project-button">
                        <a href="http://rpgmaker.net/games/4439/">Sayako</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pure-u-1 pure-u-lg-1-2">
                <div class="project-wrapper">
                    <div class="wrapper">
                        <div class="project-img">
                            <img src="/img/omori.png"/>
                        </div>

                        <div class="overlay">
                        </div>

                        <div class="project-button">
                        <a href="http://www.omori-game.com/">Omori</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pure-u-1 pure-u-lg-1-2 margin-auto">
                <div class="project-wrapper">
                    <div class="wrapper">
                        <div class="project-img">
                            <img src="/img/luna.png"/>
                        </div>

                        <div class="overlay">
                        </div>

                        <div class="project-button">
                        <a href="#">Coming Soon</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about" id="about">
    <div class="container">
        <!-- <img src="/img/id3.svg" class="title"/> -->
        <img src="/img/kudchan.jpg"/>
        <h1>Profile</h1>
        <h2>a little bit of information</h2>

        <div class="content">
        <h3>I'm Dr.Yami, I code web and games</h3>

        <p>My name is Cuong Nguyen, and I am currently an international student at Finland's Oulu University of Applied Sciences learning Software Engineering. For Web Development, I mostly do the back-end work and minor UX design. At the front-end, I have experience working with Javascript and HTML/CSS. I am currently learning digital design and vector graphics for my work.</p>
        <p>Besides web development, I am also a game programmer working for various indie game studios. I have a vast amount of experience programming for 2D games, especially within the J-RPG genre. I am experienced working with game engines, such as RPG Maker and Love 2D. I am also learning how to use Unity3D with its 2D features.</p>
        <p>As for general programming, I am experienced with using C++, C#, Ruby, Python, Lua and Javascript. I have mostly recently taken up learning Qt for PC Software Development.</p>
        <p>In my spare time I enjoy listening to a wide range of music, and I am currently learning to produce my own music for the purpose of using it in my games. I also take interest in Japanese culture, especially related to anime/manga. That is the reason why I chose my favorite character as a profile picture instead of my own face (though I have a picture of myself on LinkedIn).</p>
        <p>I hope people love my work.</p>
        </div>
    </div>
</section>

<section class="contact" id="contact">
    <div class="container">
        <img src="/img/email6.svg" class="title"/>
        <h1>Contact</h1>
        <h2>where to find and contact me</h2>
        <div class="icon"><a href="http://fi.linkedin.com/in/cuongnt/" target="_blank"><img src="/img/linkedin22.svg"/></a></div><div class="icon"><a href="https://twitter.com/SuppaYami" target="_blank"><img src="/img/twitter39.svg"/></a></div><div class="icon"><a href="https://github.com/suppayami" target="_blank"><img src="/img/github19.svg"/></a></div><div class="icon"><a href="https://soundcloud.com/dr-yami" target="_blank"><img src="/img/soundcloud8.svg"/></a></div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="content">
            <p>&copy; 2014 Dr.Yami</p>
            <p>Icon made by Elegant Themes, Freepik, SimpleIcon, Icomoon from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a></p>
        </div>
    </div>
</footer>