<head>
    <meta charset="utf-8">
    <title>Dr.Yami</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:title" content="Dr.Yami - Personal Page" />
    <meta property="og:image" content="http://yamiworld.com/img/kudchan.jpg" />
    <meta property="fb:admins" content="837014671"/>
    <meta name="google-site-verification" content="ba23xEg0i5EyJSrnxVL298rhcM6KVuPmzN3Tv2QbFoY" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/main.css">
</head>